button {
        border-radius: 50px;
        border: 2px solid #2751E8;
        color: #2751E8;
        margin: 0 1em;
        padding: 16px 24px 16px 24px;
      }
      
      button.primary {
        background: #2751E8;
        color: white;
      }
      
      button.secondary {
        background: transparent;
      }
      
      button:hover {
        background: #fff;
        color: #2751E8;
        cursor: pointer;
      }
      
      button.primary:hover {
        background: #2751E8;
        color: white;
      }
      
      button.secondary:hover {
        background: #2751E8;
        color: white;
      }
      
      button:active {
        background: #d9d9d9;
        color: #2751E8;
        outline: none;
      }
      
      button.primary:active {
        background: #f5f5f5;
        color: #1FA3AE;
      }
      
      button.secondary:active {
        background: #d9d9d9;
        color: white;
      }
    