button {
        border-radius: 8px;
        border: 2px solid #EE6125;
        color: #EE6125;
        margin: 0 1em;
        padding: 8px 24px 8px 24px;
      }
      
      button.primary {
        background: #EE6125;
        color: white;
      }
      
      button.secondary {
        background: transparent;
      }
      
      button:hover {
        background: #fff;
        color: #EE6125;
        cursor: pointer;
      }
      
      button.primary:hover {
        background: #EE6125;
        color: white;
      }
      
      button.secondary:hover {
        background: #EE6125;
        color: white;
      }
      
      button:active {
        background: #d9d9d9;
        color: #EE6125;
        outline: none;
      }
      
      button.primary:active {
        background: #f5f5f5;
        color: #1FA3AE;
      }
      
      button.secondary:active {
        background: #d9d9d9;
        color: white;
      }
    